html {
  background-color: #202020;
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.input {
  display: flex;
  flex: 2;
  justify-content: center;
}

.input input {
  background-color: #ffac41;
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: larger;
  height: 40px;
  border-radius: 5px;
  border: 1px black solid;
  text-align: center;
  display: flex;
  flex: 2;
  justify-content: center;
}

.input button {
  height: 40px;
  width: 100%;
  background-color: transparent;
  color: #ff1e56;
  font-size: medium;
  border: none;
  border-radius: 5px;
}

.input button:hover {
  background-color: #eeeeeeee;
  cursor: pointer;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.header h2 {
  background-image: linear-gradient(45deg, #ffac41, #ff1e56);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 32px;
}

.header .nav-links {
  margin-left: auto;
  float: right;
  font-size: 18px;
}

.header .nav-links a {
  text-decoration: none;
  color: #ff1e56;
}

.response {
  color: #ff1e56;
}

.description {
  padding: 20px;
  background-color: black;
  border: #ffac41 solid 1px;
  color: #ffffff;
  max-width: 800px;
  height: auto;
}

.Instructions {
  padding: 10px;
}