html {
  background-color: #202020;
}

.input {
  display: flex;
  flex: 2;
  margin: 10px;
  justify-content: center;
}

.input input {
  background-color: #ffac41;
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: larger;
  height: 40px;
  border-radius: 5px;
  border: 1px black solid;
}

.input button {
  height: 40px;
  background-color: #d8e3e7;
  color: #ff1e56;
  font-size: medium;
  border: none;
  border-radius: none;
}

.input button:hover {
  background-color: #eeeeeeee;
  cursor: pointer;
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #d8e3e7;
}

.header h2 {
  background-color: linear-gradient(45deg, #ffac41, #ff1e56);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 32px;
}

.header .nav-links {
  margin-left: auto;
  float: right;
  font-size: 18px;
}

.header .nav-links a {
  text-decoration: none;
  color: #FF1E56;
}
