.input {
  display: flex;
  flex: 2;
  margin: 10px;
  justify-content: center;
}

.input input {
  width: 200px;
  font-size: larger;
  height: 40px;
  border-radius: 5px;
  border: 1px black solid;
}